<h1>Post:</h1>

<ul>
  <li> Title: <%= @post.title %></li>
  <li> URL: <%= @post.url %></li>
  <li> Content: <%= @post.content %></li>
  <li> Author: <%= @post.author.username %> </li>
</ul>

<%= link_to 'Sub-Forum', sub_url(@post.sub) %>
<%= link_to 'Edit Post', edit_post_url(@post) %>
